<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">

  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
<body data-spy="scroll" data-target="#toc">
  <div class="container">
      <header class="masthead">
        <h1 class="masthead-title" data-toc-skip>
          <a href="{{ site.baseurl }}/">{{ page.course }}</a>
        </h1>
        <nav class="masthead-nav">
          {% for nav in page.nav %}
          <a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.name }}</a>
          {% endfor %}
        </nav>
      </header>
      {{ content }}
      <!-- <footer>
     <rights>Copyright © {{ site.time | date: "%Y" }}, Jonathan Dinu</rights>
 </footer> -->
  </div>
</body>
</html>
